@font-face {
  font-family: "Nexa";
  src: url('font/Nexa-Heavy.ttf');
  
}

*{
  font-family: "Nexa";
}

.App-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.custom-card {
  padding: 25px;
}

.title h1{ 
  color: white;
  font-size: 75px;
}